# Exclude git files and other files for releases
.** export-ignore
/src export-ignore
/witcom-docs export-ignore
composer.json export-ignore
composer.lock export-ignore
node_modules export-ignore
webpack.mix.js export-ignore
mix-manifest.json export-ignore
package-lock.json export-ignore
package.json export-ignore
README.md export-ignore
